.my-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body{
    background-color: #f5f8ff;
    margin:  auto;
    font-family: sans-serif;
    font-weight: 400;
}

/* button */
button{
    border: none;
}
button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(238, 123, 8);
    transition: 0.5s;
    box-shadow: 5px 5px 1px rgb(217, 213, 213);
}
/* primary */

.btn-primary{
    background-color: #4E47FF;
    color: white;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.logo{
    color: #4e47ff;
    font-size: 50px;
    text-align: center;
    margin: 10px 40px;
}
/* nav */
nav{
    display: flex;
    justify-content: space-between;
}
.bbtn{
    padding: 10px 20px;
    height: 40px;
    margin: 20px 40px;
}

.banner-main{
    height: 400px;
    padding: 30px 40px;
    background-image: url(/B12A01-landing-launchpad/Assets/Hero-bg.png);
    text-align: center;
    
}
.banner1{
    display: flex;
    justify-content: center;
    text-align: center;
}
.banner1 h1{
    margin-top: 100px;
    width: 500px;
    font-size: 40px;
}
.button1{
    display: flex;
    justify-content: center;
}
.bbtn2{
    padding: 10px 15px;
    display: block;
}

/* action */
.action-main{
    display: flex;
    justify-content: center;
}
.actions{
    width: 600px;
    padding: 40px;
    display: flex;
    justify-content: center;
}
.action1{
    display: flex;
    gap: 110px;
}
.action-des p{
    font-size: 14 px;
    color:gray ;
}
.bbtn3{
    padding: 10px 20px;
}
.action-img{
    height: 170px;
    width: 180px;
    border-radius: 20%;
    
}

/* follower */
.follower{
    width: 600px;
    background-color: #e5e7ff;
    border-radius: 15px;
    text-align: center;
    padding: 20px 30px;
    margin: 0px 50px;
}

.follower-main{
    display: flex;
    justify-content: center;
}
.user-main{
    display: flex;
    justify-content: space-around;
}
.user h1{
    color: #4E47FF;
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.user p{
    font-size: 12px;
    color: grey;
}

/* review */
.review-main{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
.review11{
    width: 600px;
}
.review-main h1{
    text-align: center;
    margin-bottom: 60px;
    font-size: 30px;
}
.review11{
    background-color: white;
    border-radius: 10px;
    margin-left: 10px;
    padding: 10px 5px;
}
.review1{
    width: 678px;
    display: flex;
    justify-content: space-around;
    
}
.rev0{
    height: 10px;
    margin-bottom: 0px;
}
.review11 h4{
    font-size: 18px;
    margin: 0px 5px;
}
.review11 p{
    font-size: 10px;
    margin: 5px;
    color: grey;
    padding: 0px 20px 0px 0px;
}
.review11-img{
    display: flex;
    
}
.rv h5{
    margin: 5px;
    padding: 0px;
    color: #2B2929;
    font-weight: 100;
}
.rv p{
    margin: 5px;
    padding: 0px;
    color: grey;
}
.rev1-img1{
    border-radius: 50%;
    height: 30px;
    margin-top: 10px;
}
.review11:hover{
    box-shadow: 8px 5px 2px #EEEEEE;
    background-color: #EEEEEE;
    transition: 0.5s;
}

/* focus */
.focus-main{
    display: flex;
    justify-content: center;
}

.focus{
    background-color: white;
    text-align: center;
    padding: 30px 50px;
    width: 580px;
    margin: 20px 40px; 
    border-radius: 20px;
}

.focus h1{
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: none;
}

.focus p{
    font-size: 12px;
    margin: 10px;
    color: gray;
}

.foc{
    text-align: center;
    padding: 10px 25px;
    margin-bottom: 20px;
}

.focus-image{
    height: 220px;
    width: 500px;
    border-radius: 20px;
}
