.my-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body{
    background-color: #f5f8ff;
    margin:  auto;
    font-family: sans-serif;
    font-weight: 400;
}

/* button */
button{
    border: none;
}
button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(238, 123, 8);
    transition: 0.5s;
    box-shadow: 5px 5px 1px rgb(217, 213, 213);
}
/* primary */

.btn-primary{
    background-color: #4E47FF;
    color: white;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.logo{
    color: #4e47ff;
    font-size: 50px;
    text-align: center;
    margin: 10px 40px;
}
/* nav */
nav{
    display: flex;
    justify-content: space-between;
}
.bbtn{
    padding: 10px 20px;
    height: 40px;
    margin: 20px 40px;
}

.banner-main{
    height: 400px;
    padding: 30px 40px;
    background-image: url(/B12A01-landing-launchpad/Assets/Hero-bg.png);
    text-align: center;
    
}
.banner1{
    display: flex;
    justify-content: center;
    text-align: center;
}
.banner1 h1{
    margin-top: 100px;
    width: 500px;
    font-size: 40px;
}
.button1{
    display: flex;
    justify-content: center;
}
.bbtn2{
    padding: 10px 15px;
    display: block;
}

/* action */
.action-main{
    display: flex;
    justify-content: center;
}
.actions{
    width: 600px;
    padding: 40px;
    display: flex;
    justify-content: center;
}
.action1{
    display: flex;
    gap: 110px;
}
.action-des p{
    font-size: 14 px;
    color:gray ;
}
.bbtn3{
    padding: 10px 20px;
}
.action-img{
    height: 170px;
    width: 180px;
    border-radius: 20%;
    
}

/* follower */
.follower{
    width: 600px;
    background-color: #e5e7ff;
    border-radius: 15px;
    text-align: center;
    padding: 20px 30px;
    margin: 0px 50px;
}

.follower-main{
    display: flex;
    justify-content: center;
}
.user-main{
    display: flex;
    justify-content: space-around;
}
.user h1{
    color: #4E47FF;
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.user p{
    font-size: 12px;
    color: grey;
}

